<div class="text-center">
  <button class="mx-2" *ngIf="allows.includes('view')" (click)="onDispatch('view')">
    <span nz-typography>
      <i nz-icon nzType="eye" nzTheme="outline"></i>
    </span>
  </button>
  <button class="mx-2 primary" *ngIf="allows.includes('edit')" (click)="onDispatch('edit')">
    <i nz-icon nzType="edit" nzTheme="outline"></i>
  </button>
  <button class="mx-2" *ngIf="allows.includes('delete')" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn muốn xóa chứ?"
    (nzOnConfirm)="onDispatch('delete')">
    <span nz-typography nzType="danger">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </span>
  </button>
</div>
