<h2><i nz-icon nzType="edit" nzTheme="outline"></i> Tạo danh mục sản phẩm</h2>
<action-button (dispatch)="onDispatch($event)"></action-button>
<div class="mt-5">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th><span class="px-5">Danh mục</span></th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><span class="px-5">{{ data }}</span></td>
        <td class="text-end">
          <action-table-button [allows]="['edit','delete']" (dispatch)="onDispatch([$event,data])">
          </action-table-button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
