<h2><i nz-icon nzType="edit" nzTheme="outline"></i> Tạo sản phẩm gốc</h2>
<action-button></action-button>
<div class="mt-5">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Mã gốc</th>
        <th>Tồn kho</th>
        <th>Giá vốn</th>
        <th>Giá phát sinh</th>
        <th>Giá bán</th>

        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.code }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.price }}</td>
        <td class="text-center">
          <action-table-button></action-table-button>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>

<button nz-button [nzType]="'primary'" (click)="showAnotherModal()"><span>Show Form</span></button>
<nz-modal nzWidth="75%" [(nzVisible)]="isDisplay" nzTitle="Nhập đơn hàng" (nzOnCancel)="handleAnotherCancel()"
  (nzOnOk)="handleAnotherOk()">
  <ng-container *nzModalContent>
    <div>
      <form class="row">
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Tên</nz-form-label>
            <nz-form-control>
              <input nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Mã gốc</nz-form-label>
            <nz-form-control>
              <input nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Tồn kho</nz-form-label>
            <nz-form-control>
              <nz-input-number style="width:100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Giá vốn</nz-form-label>
            <nz-form-control>
              <nz-input-number style="width:100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Giá phát sinh</nz-form-label>
            <nz-form-control>
              <nz-input-number style="width:100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Giá bán</nz-form-label>
            <nz-form-control>
              <nz-input-number style="width:100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </ng-container>
</nz-modal>
