nz-card {
  border-radius: 6px;

  h3 {
    color: #0e83ad;
    font-weight: 600;
  }

  .icon {
    font-size: 24px;
    line-height: 50px;
    margin-right: 12px;
  }

  .value {
    font-size: 18px;
    font-weight: 500;
    min-width: 80px;
  }
}

.most-sales {
  .number {
    font-size: 18px;
    font-weight: 600;
  }
}
