<action-button></action-button>
<nz-card class="mt-3 mb-5">
  <div class="d-flex justify-content-end">
    <button class="plus-data"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>Cộng quỹ</button>
    <div class="mx-4 data">
      <label> Quỹ đầu kì</label>
      <div class="turquoise">30,000đ</div>
    </div>
    <div class="mx-4 data">
      <label>Tổng chi</label>
      <div class="danger">30,000đ</div>
    </div>
    <div class="mx-4 data">
      <label>Tồn quỹ</label>
      <div class="success">30,000đ</div>
    </div>
  </div>
</nz-card>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Mã phiếu</th>
      <th>Người chi</th>
      <th>Thời gian</th>
      <th>Giá trị</th>
      <th>Phương thức</th>
      <th>Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.code }}</td>
      <td>{{ data.person }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.value }}</td>
      <td>{{ data.method }}</td>
      <td>{{ data.note }}</td>
    </tr>
  </tbody>
</nz-table>

<button nz-button [nzType]="'primary'" (click)="showAnotherModal()"><span>Show Form</span></button>
<nz-modal nzWidth="75%" [(nzVisible)]="isDisplay" nzTitle="Nhập đơn hàng" (nzOnCancel)="handleAnotherCancel()"
  (nzOnOk)="handleAnotherOk()">
  <ng-container *nzModalContent>
    <div>
      <form class="row">
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Người chi</nz-form-label>
            <nz-form-control>
              <input nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Thời gian</nz-form-label>
            <nz-form-control>
              <nz-date-picker style="width:100%;"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Giá trị</nz-form-label>
            <nz-form-control>
              <nz-input-number style="width:100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-12 col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired>Phương thức</nz-form-label>
            <nz-form-control>
              <nz-radio-group>
                <label nz-radio nzValue="A">Tiền mặt</label>
                <label nz-radio nzValue="B">Ví điện tử</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <nz-form-item>
          <nz-form-label>Ghi chú</nz-form-label>
          <nz-form-control>
            <textarea nz-input placeholder="Controlled autosize" [nzAutosize]="{ minRows: 2, maxRows: 3}"></textarea>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </ng-container>
</nz-modal>
