<action-button></action-button>
<nz-card class="mt-3 mb-5">
  <div class="d-flex justify-content-end">
    <div class="mx-4 data">
      <label>Quỹ đầu kì</label>
      <div class="turquoise">30,000đ</div>
    </div>
    <div class="mx-4 data">
      <label>Tổng chi</label>
      <div class="danger">30,000đ</div>
    </div>
    <div class="mx-4 data">
      <label>Tồn quỹ</label>
      <div class="success">30,000đ</div>
    </div>
  </div>
</nz-card>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>Mã phiếu</th>
      <th>Thời gian</th>
      <th>Người chi</th>
      <th>Giá trị</th>
      <th>Phương thức</th>
      <th>Tất toán</th>
      <th>Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.code }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.person }}</td>
      <td>{{ data.value }}</td>
      <td>{{ data.method }}</td>
      <td>{{ data.finalization }}</td>
      <td>{{ data.note }}</td>
    </tr>
  </tbody>
</nz-table>
