.title {
  min-width: 150px;
}

* {
  line-height: 28px;
}

.head-title {
  font-weight: 500;
}

.head-price {
  font-size: 18px;
  font-weight: 500;
}

.data {
  label {
    color: #0e83ad;
    font-weight: 500;
  }
}

:host ::ng-deep .ant-card-body {
  padding: 12px 0;
}

nz-card {
  border: 1px solid #e8e8e8;
}

.plus-data {
  // margin: 16px 0 0 0;
  max-height: 28px;
  color: white;
  background-color: #0e83ad;
  border: 0 solid;
  border-radius: 6px;

  i {
    margin-right: 8px;
  }
}

nz-form-label {
  min-width: 120px;
  text-align: start;
}
