 <div class="row justify-content-lg-between">
   <div class="col">
     <nz-input-group [nzSuffix]="suffixIconSearch">
       <input (keyup)="onDispatch('search', $event.target.value)" type="text" nz-input
         placeholder="Nhập từ khóa tìm kiếm" />
     </nz-input-group>
     <ng-template #suffixIconSearch>
       <i nz-icon nzType="search"></i>
     </ng-template>
   </div>
   <div class="col d-flex justify-content-end justify-content-md-start justify-content-lg-end">
     <button class="me-3 btn" (click)="onDispatch('create')" nz-button nzType="primary"><i nz-icon nzType="plus-circle"
         class="icon"></i>Thêm mới</button>
     <button class=" btn" (click)="onDispatch('refresh')" nz-button nzType="default"><i nz-icon nzType="redo"
         class="icon"></i>Refresh</button>
   </div>
 </div>
