@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html body {
  font-family: 'Montserrat';
}

.hot-pink {
  color: #ed507a;
}

.inner-content {
  min-height: 100% !important;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


@media only screen and (min-width: 768px) {
  .modal-md {
    width: 70% !important;
  }
}

@media only screen and (max-width: 768px) {
  .modal-md {
    width: 90% !important;
  }
}


.data {
  label {
    font-size: 16px;
  }

  div {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
  }
}

.border-right {
  border-right: 1px solid #d6d6d6;
}

.primary {
  color: #007bff;
}

.warming {
  color: #ffc107;
}

.success {
  color: #49ac4c;
}

.danger {
  color: #c20306;
}

.turquoise {
  color: #0e83ad !important;
}

.blue {
  color: #0094da;
}

.orange {
  color: #ff8030;
}

.btn {
  border-radius: 6px;
  min-height: 36px;
}

.modal-btn {
  border: 0 solid;
}

.cursor-pointer {
  cursor: pointer !important;
  ;
}
