@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html body {
  font-family: 'Montserrat';
}

.hot-pink {
  color: #ed507a;
}

.inner-content {
  min-height: 100% !important;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.primary {
  color: #007bff;
}

.warming {
  color: #ffc107;
}
